.container{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}
.counter{
  height:500px;
  width:500px;
  background-color: darkorange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counter button {
  padding:0.5rem 1.5rem;
  margin:0.5rem;
  border: none;
  border-radius: 10px;
}